@media screen and (max-width: 1599px) {
  .desktop-wcam {
    display: none;
  }
  .mobile-wcam {
    display: block;
  }
}
@media screen and (max-width: 1450px) {
  .container {
    max-width: 1220px;
  }
  .slider__img {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    max-width: 1080px;
  }

  .list__item + .list__item {
    margin-left: 25px;
  }

  .slider__img {
    max-width: 1050px;
  }

  .description__box {
    max-width: 450px;
  }

  .description__img {
    max-width: 450px;
  }
  .iframe__gconnect {
    width: 553px;
    height: 516px;
  }
  .main__block-news {
    width: 1060px;
  }
  .news-create__block {
    width: 1060px;
  }
}

@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 980px;
  }
  .slider__img {
    max-width: 950px;
  }
  .profile__block {
    min-width: 220px;
  }
  .main__block-news {
    width: 950px;
  }
  .news__img {
    width: 320px;
  }
  .news-create__block {
    width: 950px;
  }
  .news-create__image {
    width: 370px;
  }
}

@media screen and (max-width: 991.98px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .main {
    min-height: calc(100vh - 80px);
  }
  .routes {
    min-height: calc(100vh - 80px);
  }
  .section__top {
    height: 80px;
  }
  .footer__list {
    display: none;
  }
  .content__routes {
    justify-content: center;
  }
  .list__routes {
    flex-wrap: wrap;
  }
  .slider {
    display: none;
  }
  .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    margin: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background: #fff;
    transition: all 0.2s;
  }
  .bar-x1 {
    transform-origin: 2px 6px;
    transform: rotate(45deg);
  }
  .bar-x2 {
    background-color: rgba(255, 255, 255, 0);
  }
  .bar-x3 {
    transform-origin: 5px -1px;
    transform: rotate(-45deg);
  }
  .list__item-profile {
    display: unset;
  }
  .popup {
    display: block;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.53deg, #0a233a 38.59%, #133810 99.51%);
    z-index: 100;
    display: flex;
    transition: all 0.3s;
  }
  .menu__popup {
    display: block;
    margin: 25px 0px 0px 25px;
    position: relative;
  }
  .list {
    display: block;
  }
  .list__item + .list__item {
    margin-left: 0px;
  }
  .list__item {
    margin-bottom: 30px;
  }
  .open {
    left: 0;
  }
  .card {
    margin-right: 7px;
    margin-left: 7px;
  }

  .display-non {
    display: none;
  }
  .description__inner {
    display: block;
    text-align: center;
  }
  .description__block {
    text-align: center;
    width: 100%;
  }
  .description__box {
    display: inline-block;
    max-width: 550px;
  }
  .description__text {
    margin-bottom: 20px;
  }
  .description__list {
    margin-bottom: 40px;
  }
  .description__img {
    max-width: 100%;
  }

  .description__video-iframe {
    width: 530px;
    height: 320px;
    padding-bottom: 0px;
  }
  .description__total {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  .footer__column {
    /* display: block; */
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    align-items: center;
    justify-content: start;
  }
  .social__mobile {
    display: block;
    margin-left: 35px;
  }
  .copyright {
    padding: 0px 0px 15px 0px;
  }
  .profile__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .profile__block {
    padding: 0px 0px 40px 0px;
    margin: 0px 5px;
  }
  .profile__block-title {
    height: auto;
    margin-bottom: 20px;
  }
  .profile__table {
    margin-bottom: 30px;
  }
  .profile__img {
    margin-bottom: 30px;
  }
  .profile__contacts {
    margin-bottom: 20px;
  }
  .login__item-inner {
    display: block;
  }
  .link__profile {
    position: absolute;
    top: 0;
    right: -150px;
  }

  .profile-link__img {
    width: 80px;
    height: 80px;
  }
  .login__icon {
    position: absolute;
    width: 56px;
    /* margin: 130px 0px 0px 0px; */
    right: -129px;
    top: 176px;
  }
  .block-kudos {
    width: 159px;
    margin: 0px auto;
  }
  .news__box {
    width: 100%;
  }
  .main__block-news {
    padding: 10px 0px;
    margin-right: 0px;
    width: auto;
  }
  .title__box {
    text-align: center;
  }
  .main__inner {
    padding-bottom: 20px;
    justify-content: center;
  }
  .news__image {
    width: auto;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .news__img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .box-news__text {
    text-align: left;
    padding-bottom: 15px;
  }
  .news-create__block {
    margin: 0px 0px 20px 0px;
    padding: 15px 0px;
  }
  .news-create__image {
    width: auto;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .news-create__form {
    width: 100%;
  }
  .news-create__block {
    width: auto;
  }
  .comments-news__comment {
    width: 650px;
  }
}

@media (max-width: 767.98px) {
  .title__page {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .title__box {
    text-align: left;
  }
  .content__routes {
    padding-bottom: 0;
  }
  .menu__routes {
    margin-bottom: 10px;
  }
  .description__inner {
  }
  .description__block {
  }
  .description__box {
    display: inline-block;
    width: 100%;
  }
  .description__text {
    letter-spacing: 0.2px;
    padding-bottom: 10px;
  }
  .img__box {
    margin-bottom: 10px;
  }
  .description__img {
    margin-bottom: 10px;
  }
  .description__video-iframe {
    width: 100%;
    height: 250px;
    padding-bottom: 0px;
  }
  .iframe__gconnect {
    width: 100%;
    padding-right: 10px;
  }
  .description__total {
    display: block;
    text-align: center;
  }
  .description__list li {
    font-size: 14px;
  }
  .description__list {
    margin: 0px 0px 0px 0px;
    padding-bottom: 20px;
  }
  .link__gconnect {
    margin: 0px 0px 0px 0px;
    letter-spacing: 0.1px;
  }
  table {
    font-size: 14px;
    letter-spacing: 0.1px;
  }
  td .link__btn {
    width: 70px;
  }
  .profile__block-title {
    font-size: 20px;
  }
  .td__link > .link__btn {
    width: auto;
  }
  .profile__table {
    /* font-size: 12px; */
  }
  .title__page {
    text-align: center;
    margin-bottom: 30px;
  }
  .box__btn {
    font-size: 12px;
    width: auto;
  }
  .profile-edit__btn {
    width: 200px;
  }
  .main__inner {
    display: block;
  }
  .news-create__btn {
    width: 150px;
  }
  .comments-news__comment {
    width: 450px;
  }
}

@media (max-width: 575.98px) {
  .box,
  .area {
    width: 100%;
  }
  .box__status-text {
    font-size: 10px;
  }
  .popap__edit-trail {
    right: 0px;
  }
  .comment__popap {
    right: 12px;
  }
  .comment {
    padding-right: 40px;
  }
  .news__box {
    min-width: 300px;
  }
  .interactive-news__inner {
    justify-content: space-between;
  }
  .interactive-news__icon-box {
    width: auto;
  }
  .news-create__input {
    width: 280px;
  }
  .main__block-column {
    width: 100%;
  }
  .column-main__box {
    width: 100%;
  }
  .camera__img {
    width: 100%;
  }
  .comments-news__comment {
    margin: 0px;
    width: 310px;
  }
  .comments-news__cross-remove {
    top: 0;
  }
  .comments-news__cross-remove {
    padding: 10px 10px;
  }
  .comments-news__box-add-comment {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .comments-news__area {
    height: 60px;
    margin-bottom: 15px;
  }
  .comments-news__text {
    padding-right: 15px;
  }
}

@media (max-width: 450.98px) {
  .title__box {
    text-align: center;
    padding-top: 20px;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .title__page {
    margin-bottom: 20px;
  }
  .title__page-sub {
    font-size: 23px;
    line-height: 25px;
  }
  .box-news__title {
    font-size: 19px;
    line-height: 21px;
  }
  .box-news__text {
    font-size: 15px;
    line-height: 18px;
  }
  .camera__title {
    font-size: 19px;
    line-height: 21px;
  }
  .profile-edit__inner {
    justify-content: center;
  }
  .profile-edit__block {
    margin-right: 0px;
  }
  .profile-edit__button {
    display: block;
    margin-bottom: 0;
    margin: 0px auto;
  }
  .main__block-news {
    padding: 15px 0px;
  }
  .news__box {
    padding: 10px 10px;
  }
  .news__image {
    height: 200px;
  }
  .news-create__image {
    height: 200px;
  }
  .column-main__box {
    height: 200px;
  }
  .camera__img {
    height: 100%;
  }
}

@media (max-width: 389.98px) {
  .news__image {
    height: 180px;
  }
}
@media (max-width: 365.98px) {
  .comments-news__comment {
    width: 295px;
  }
}
